.built-with-text {
  position: relative;
  display: inline-flex;
  margin: 0 8px;
}

.built-with-text__overlay {
  padding: 4px 8px;
  text-align: center;
  background: rgba(130, 87, 230, 0.8);
  border-radius: 3px;
}

.built-with-text__heading {
  margin: 0;
  color: var(--text-color);
  font-size: 10px;
}

/* states */

.built-with-text:hover {
  text-decoration: none;
}
