.button--custom {
  padding: 8px 32px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
  border-radius: 0;
}

/* states */

.button--custom:hover {
  color: var(--surface-02);
  background-color: var(--text-color);
  border-color: var(--text-color);
}

/* media-queries */

@media (max-width: 670px) {
  .button--custom {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 20px;
  }
}
